@import "tailwindcss";

/* :root {
  --primary: #f19509;
  --primary-dark: #e86f00;
  --light-orange: #f1dabf;
  --dark-gray: #1a1f25;
  --light-gray: #272c35;
} */

@theme {
  --color-primary: #f19509;
  --color-primaryDark: #e86f00;
  --color-lightOrange: #f1dabf;
  --color-darkGray: #1a1f25;
  --color-lightGray: #272c35;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 640px) {
    padding-inline: 2rem;
  }
}


@layer utilities {
  .img-shadow {
    filter: drop-shadow(40px 50px 25px #0f1115);
  }

  .img-shadow2 {
    filter: drop-shadow(10px 30px 15px #3030307a);
  }

  .input-style {
    @apply px-4 py-2 border border-gray-400 rounded-md focus:outline-none focus:border-none focus:ring-2 focus:ring-primary;
  }

  .primary-btn {
    @apply bg-primary text-white px-4 py-2 rounded-md hover:bg-primaryDark duration-200 cursor-pointer;
  }
}
